argparse
compiledb
dash
dvc
jupyterlab
keras
matplotlib
mlflow
numpy
pandas
pigar
plotly
pycodestyle
pydocstyle
pyflakes
pytest
python-language-server
rope
scikit-image
scikit-learn
tensorflow
torch
torchvision
virtualenv
wheel
