autopep8
compiledb
dash
dvc
flask
ipython
jupyterlab
matplotlib
mypy
numpy
pandas
pipreqs
plotly
pycodestyle
pydocstyle
pyflakes
pytest
pytest-mock
python-lsp-server
rope
scikit-image
scikit-learn
tensorflow
torch
torchvision
virtualenv
