argparse
compiledb
dash
dvc
keras
matplotlib
mlflow
numpy
pandas
plotly
pycodestyle
pydocstyle
pyflakes
pytest
python-language-server
rope
scikit-image
scikit-learn
tensorflow
torch
torchvision
virtualenv
wheel
